@import '../../scss/variables';
@import '../../scss/colors';

header {
  background: $primary;
  color: $white;
  height: $headerHeight;

  nav, a, button {
    height: 100%;
  }

  nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    a {
      text-decoration: none;
      color: $white;
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        width: 100%;
        height: 100%;
        font-size: 1.15em;
      }
    }
  }
}