@import 'src/scss/colors';

.page.settings {
  display: flex;
  flex-direction: column;
  align-items: center;

  .form-group {
    margin: 1em 0;
    display: flex;
    font-size: 1.5em;
    align-items: center;
    justify-content: space-between;
    width: 16em;
    border: 0.1em solid $primary;
    padding: 0.5em;
    border-radius: 0.25em;
  }

  input[type='checkbox'] {
    zoom: 1.5;
  }
}