@import 'src/scss/colors';

.page.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  form {
    margin-top: 2em;
    border: 0.05em solid $primary;
    padding: 1em;
    border-radius: 0.25em;
  }

  p {
    background: $smoke;
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 0.25em 0;
  }

  .form-group {
    margin: 1em 0;
    display: flex;
    font-size: 1.5em;
    align-items: center;
    width: 24em;
  }

  label {
    width: 35%;
  }

  input {
    margin-left: 2em;

    &[type="text"] {
      flex: 1 1 auto;
    }
  }

  input[type='checkbox'] {
    zoom: 1.5;
  }
}

.page.settings.dark {
  p {
    background: $grey;
  }
}