@import 'src/scss/colors';

.page.extract {
  #extraction-list {
    flex: 1 1 auto;
    overflow: auto;
  }

  .controls {
    margin: 1em 0.15em 0.15em 0.15em;

    button {
      padding: 1em 0;
      flex: 1 1 auto;
      font-size: 1.25em;

      &:not(:first-of-type, :last-of-type) {
        margin: 0 0.25em;
      }
    }
  }
}