@import 'src/scss/colors';

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.page.extract {
  #extraction-list {
    flex: 1 1 auto;
    overflow: auto;
  }

  .controls {
    margin: 1em 0.15em 0.15em 0.15em;

    button {
      padding: 1em 0;
      flex: 1 1 auto;
      font-size: 1.25em;

      &:not(:first-of-type, :last-of-type) {
        margin: 0 0.25em;
      }

      &#extract-button {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          animation: rotation 1s infinite linear;
        }
      }
    }
  }
}