@import "src/scss/colors";

$borderRadius: 0.25em;

.progress-bar {
  margin-top: 0.15em;
  border: 0.1em solid $primary;
  border-radius: $borderRadius;

  .bar {
    padding: 0.05em 0.25em;
    border-radius: $borderRadius;
    background: $primary;

    .label {
      display: block;
      font-size: 0.8em;
      color: $white;
    }
  }
}