@import 'scss/colors';
@import 'scss/mixins';

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 1.6rem;

  @include for-tablet-portrait-up {
    font-size: 1.8rem;
  }
  @include for-desktop-up {
    font-size: 2rem;
  }
}


.flex {
  display: flex;

  &--column {
    flex-direction: column;
  }
  &--center-v {
    justify-content: center;
  }
  &--center-h {
    align-items: center;
  }
}

.page.dark {
  input {
    &:focus {
      box-shadow: $smoke 0 0 0.15em 0.1em;
    }
  }
}

input {
  &:focus {
    box-shadow: $primary 0 0 0.15em 0.05em;
  }
}

input[type="text"] {
  background: $white;
  border: 0.1em solid $primary;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  outline: none;
  font-size: 0.75em;
}